# Environment
.env
.env.local
.env.*.local

# Build
/dist
/build
*.tsbuildinfo

# Dependencies
/node_modules

# Prisma generated
/prisma/migrations/dev.db

# Logs
*.log
npm-debug.log*

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

/generated/prisma

.vercel
